body{
    background-color: rgba(20,29,38);
    display: flex;
    justify-content: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin-top: 4rem;
    
}


.containter-password{
    background-color: rgba(36,52,71);
    width: 20rem;
    padding: 1rem;
    
}

h1{
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    color: gray;
}

.password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36,52,71);
    margin-bottom: 1rem;
    padding: 0.7rem;
}

.password img{
    height: 1.4rem;
}

.password img:hover{
    cursor: pointer;
}

.password p{
    margin: 0;
    color: gray;
}

.character-length{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    align-items: center;
    margin: 0;
}

#password-length{
    color: gray;
    font-size: 1.6rem;
    margin: 0;
}

.slider{
  color: green;
  width: 100%;
  margin-bottom: 1.4rem;
}

.password-symbols{
    font-size: 0.8rem;
}

#p-strength{
    margin: 0;
    margin-right: 0.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    align-items: center;
    background-color: rgba(20, 29, 38, 0.774);
    padding: 0.1rem 1rem;
    margin-top: 1rem;
}

.measure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.measure-box{
    height: 1rem;
    width: 0.3rem;
    margin: 0;
    border: 2px solid black;
    margin-left: 0.2rem;
}

.generate-button{
    text-align: center;
}

.generate-button button{
    width: 100%;
    padding: 1rem;
    background-color: gray;
    color:white;
    font-size: 1rem;

}

/*measure*/

#measure-one{

}

#measure-two{
    
}

#measure-three{
    
}

#measure-four{
    
}